<footer class="footer">
    <div class="footer-container container">
        <div class="copy-text-desktop">Усі права належать ©2023 esvitlo.net</div>
        <ul class="footer-nav">
            <li><a href="/confidentiality">Угода про конфіденційність</a></li>
            <li><a href="/agreement">Угода користувача</a></li>
            <li><a href="mailto:esvitlo.net@gmail.com">Написати нам</a></li>
        </ul>
        <div class="copy-text-wrapper">
            <div class="created-text">Created by Kozya</div>
            <div class="copy-text-mobile">Усі права належать ©2023 esvitlo.net</div>
        </div>
    </div>
</footer>