<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <%- include('./partials/header.ejs')%>
    <section class="conf-main container">
        <h4>Договір на використання інтернет-сервісу https://esvitlo.net/</h4>
        <p class="conf-title">1. Предмет Договору</p>
        <p>1.1. Даний Договір відповідно до статті 634 Цивільного кодексу України є договором приєднання, за яким
            Адміністрація Ресурсу надає у порядку, передбаченому даним договором, послуги (надалі – «Послуги»)
            користувачам (надалі – «Користувач») з пошуку інформації щодо наявності свiтла на інтернет-сервісі
            https://esvitlo.net (надалі - «Сервіс»). <br>

            1.2. Послугами Сервісу є: <br>

            1.2.1. ознайомлення із інформацією, розміщеною на Сервісі, у тому числі шляхом завантаження
            інтернет-сторінок Сервісу; <br>

            1.2.2. пошук наявності свiтла розміщеної на Сервісі, як на території України, так і за її межами.</p>
        <p class="conf-title">2. Порядок укладення Договору</p>
        <p>2.1. Договір укладається лише шляхом приєднання до нього Користувачем в цілому. <br>

            2.2. Факт приєднання Користувача до даного Договору в цілому підтверджується здійсненням Користувачем
            однієї із дій, передбачених підпунктами 1.2.1 та 1.2.2 даного Договору. <br>

            2.3. Договір діє з моменту його укладення до розірвання його Сторонами. </p>
        <p class="conf-title">3. Порядок надання Послуг</p>
        <p>3.1. Користувач за допомогою відповідних інтернет-сторінок Сервісу самостійно отримує послуги Сервісу
            шляхом здійснення дій, передбачених підпунктами 1.2.1-1.2.2 даного Договору. <br>

            3.2. Користувач розуміє й погоджується з тим, що Адміністрація Ресурсу не несе відповідальності за
            технічні збої в наданні послуг Сервісу, за збереження інформації на Сервісі або її втрату, за
            використання розміщеної Адміністрацією Ресурсу на Сервісі інформації Користувачем або третіми особами.
        </p>
        <p class="conf-title">4. Застереження та гарантії</p>
        <p>4.1. Користувач згоден з тим, що усі та будь-які права інтелектуальної власності (авторські права) на
            інформацію (твір), опубліковані Адміністрацією Ресурсу на Сервісі, а також на базу даних Сервісу,
            належать виключно та у повному обсязі Адміністрації Ресурсу. <br>

            4.2. Адміністрація Ресурсу не здійснює контроль і перевірку маркерiв наявності свiтла розміщених на Сервісі. <br>

            4.3. Адміністрація Ресурсу не гарантує достовірність, точність, об’єктивність і якість обзору наявності свiтла. <br>

            4.4. Адміністрація Ресурсу не несе відповідальності за можливі матеріальні та/чи моральні збитки, які
            можуть настати в результаті використання (огляду) наданого маркера свiтла. <br>

            4.5. Користувачам забороняється копіювати, розповсюджувати, розміщувати на інших інтернет-ресурсах або в
            засобах масової інформації будь-яку інформацію, що розміщена на Сервісі, або її частину, базу даних
            Сервісу або її частину, будь-які об’єкти прав інтелектуальної власності (авторських прав), окрім
            випадків отримання та публікації віджету наявності свiтла. <br></p>
        <p class="conf-title">5. Умови використання віджетів наявності свiтла</p>
        <p>Користувач має право отримати та опублікувати віджети наявності свiтла, зобов’язуючись: <br>

            5.1. не змінювати віджет будь-яким чином; <br>

            5.2. розмістити віджет таким чином, щоб його було показано інтернет-користувачам у повному обсязі; <br>

            5.3. розміщувати віджет лише на інтернет-сайтах, на яких маєте право розміщувати такого виду контент; <br>

            5.4. не розміщувати віджет на інтернет-сайтах, на яких міститься заборонений законодавством України
            контент (інформація, зображення, інші матеріали), зокрема, але не обмежуючись, контент наступного
            характеру: порнографія; дискримінація; пропаганда насилля; незаконна реклама; що порушує (або отриманий
            внаслідок порушення) прав інтелектуальної власності; що є наклепом; інший контент, що суперечить
            будь-яким нормам діючого законодавства України.</p>
        <p class="conf-title">6. Інші умови</p>
        <p>6.1. Спірні питання, пов’язані з виконанням даного Договору, вирішуються шляхом переговорів між
            сторонами. У разі недосягнення згоди спір вирішується в судовому порядку відповідно до законодавства
            України. <br>

            6.2. Компанія має право самостійно у односторонньому порядку змінювати умови даного Договору,
            повідомивши про це Користувача шляхом розміщення на сторінках Сервісу нову редакцію Договору.</p>


    </section>
    <%- include('./partials/footer.ejs')%>
</body>
</html>