<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')%>
</head>

<body>
    <%- include('./partials/header.ejs')%>
    <section class="conf-main container">
        <h4>Угода про конфіденційність</h4>
        <p>
            1. Ця Угода є публічним договором відповідно до ст. 633 Цивільного кодексу України – використання
            Користувачем сервісів esvitlo свідчить про приєднання Користувача до даної Угоди повністю та
            підтверджує його згоду з наведеними нижче умовами. <br>

            Володільцем сервісів esvitlo є компанія esvitlo, зареєстрована за адресою: м.Днiпро
            (надалі за текстом – «Володілець»).<br>

            2. Під час користування Користувачем Сервісами, останній надає право Володільцю на здійснення збору та
            обробки даних Користувача, а саме:<br>

            2.1. файлів cookie;<br>

            2.2. ір-адрес;<br>

            2.3. параметрів та налаштувань інтернет-браузерів.<br>

            3. Володілець здійснює збір та обробку знеособлених даних Користувача в маркетингових цілях, в тому числі
            для таргетингу рекламних та/або інших інформаційних матеріалів за віком, статтю, іншими даними та складання
            відповідних списків користувачів, створення персонального профілю користувача; для проведення статистичних
            досліджень; показу будь яких рекламних та/або інших інформаційних матеріалів, у тому числі персоналізованих.<br>

            У будь-якому разі, збір та обробка знеособлених даних Користувачів виконується Володільцем із дотриманням
            принципу pseudonymisation, тобто такою обробкою даних Користувачів, яка не дає можливості прямо або побічно
            ідентифікувати особу Користувача.<br>

            Користувач погоджується з тим, що Володілець має право передавати третім особам будь-які знеособлені дані,
            що не дозволяють прямо або побічно ідентифікувати особу Користувача, зокрема, але не обмежуючись цим,
            передавати знеособлені дані системам показу реклами, в тому числі Google Adsense.<br>

            Користувач може відкликати дозвіл на збір та обробку своїх знеособлених даних (у т.ч. їх збереження)
            Володільцем шляхом:<br>

            - щодо файлів cookie та параметрів та налаштувань інтернет-браузерів – в залежності від браузеру, що
            використовується Користувачем, детальніше за наступними посиланнями Microsoft Internet Explorer, Google
            Chrome, Safari, Firefox, Opera.<br>

            4. Володілець має право передати дані, базу даних, до якої включено дані Користувача, повністю або частково
            третім особам без повідомлення про це Користувача у наступних випадках: особам, у ведення, володіння або
            власність яких передано Сервіс; особам, що є пов’язаними/афілійованими з Володільцем; новому власнику та/або
            Володільцю Сервісу для оброблення з метою, передбаченою даною Угодою; іншим користувачам Сервісів (як
            фізичним, так і юридичним особам), якщо на Сервісі передбачено відповідний функціонал.<br>

            5. Під час користування Користувачем Сервісами, на інтернет-сторінках Сервісів можуть бути присутні коди
            інтернет-ресурсів третіх осіб, у результаті чого такі треті особи самостійно отримують дані, зазначені у
            пунктах 2.1, 2.2 та 2.3 даної Угоди, хоча при цьому Володілець жодним чином не передає таким третім особам
            дані Користувача, що оброблюються Володільцем. Згода Користувача із цією угодою означає, що Користувач надає
            згоду на отримання такими третіми особами даних, зазначених у пунктах 2.2, 2.3 та 2.4 даної Угоди та надає
            цим третім особам права щодо зберігання та обробки даних інтернет-користувачів зазначених у пунктах 2.1, 2.2
            та 2.3 даної Угоди з метою використання знеособлених даних Користувача в маркетингових цілях, у тому числі
            для таргетингу рекламних та/або інших інформаційних матеріалів за віком, статтю, іншими даними та складання
            відповідних списків користувачів, створення персонального профілю користувача, інших маркетингових цілях;
            для проведення статистичних досліджень; показу будь яких рекламних та/або інших інформаційних матеріалів, у
            тому числі персоналізованих. Такими інтернет-ресурсами третіх осіб є:<br>

            5.1. системи зі збору статистики відвідувань Сервісів (наприклад, лічильники LiveInternet, Google Analytics
            тощо);<br>

            5.2. соціальні-плагіни (блоки) соціальних мереж (наприклад, Facebook тощо);<br>

            5.3. системи банеропоказів (наприклад, Google AdWords, AdRiver тощо);<br>

            5.4. інші ресурси.<br>

            6. Користувач має усі права щодо захисту його персональних даних, які передбачено чинним законодавством
            України, зокрема, Законом України «Про захист персональних даних».<br>

            7. Оброблення даних здійснюється у дата-центрах, де розміщується обладнання, що забезпечує функціонування
            Сервісів. Володілець вживає усіх передбачених законодавством заходів для захисту даних Користувача, зокрема,
            оброблення даних здійснюється на обладнанні, що міститься у охоронюваних приміщеннях із обмеженим доступом.<br>

            8. У випадку порушення Володільцем умов цього Договору Користувач має право звернутись із відповідною
            скаргою до контролюючих та/або правоохоронних та/або судових органів.<br>
        </p>

    </section>
       

        <%- include('./partials/footer.ejs')%>
</body>

</html>