<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <%- include('./partials/header.ejs')%>
    404
    <%- include('./partials/footer.ejs')%>
</body>
</html>