<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs')%>
    </head>

    <body>
        <%- include('./partials/header.ejs')%>
        <main class="container">
            <section class=" info-block">
                <p>
                    Дорогі друзі. Наш сайт дає інформацію про наявність світла,
                    завдяки відвідувачам. Будьте відповідальні, ставте маркери
                    на карті якщо Ви на 100% впевнені в наявності електрики,
                    або її відсутності. Якщо у Вас змінився статус
                    електричного підключення, не полінуйтеся будь ласка, зайдіть
                    на наш сайт і теж поміняйте інформацію про наявність
                    електроенергії. Можливо своєю відміткою ви комусь дуже
                    допоможете. Слава Україні!
                </p>
            </section>
            <section class="adv-block-hr">Реклама</section>
            <section class="map-container container">
                <div class="adv-block-vr">Реклама</div>
                <div id="map"></div>
                <div class="adv-block-vr">Реклама</div>
                <div class="confirm-modal">
                    <p class="modal-title">У вас е свiтло?</p>
                    <div class="modal-img-container">
                        <img src="/public/icons/lamp.svg" alt="lamp" />
                    </div>
                    <div class="btn-modal-container">
                        <button class="light-btn" onclick="confirmLight('lightOn')">Так</button>
                        <button class="no-light-btn" onclick="confirmLight('lightOff')">Нi</button>
                    </div>
                    <div class="close-modal-btn">x</div>
                </div>
            </section>
            <section class=" adv-block-hr">Реклама</section>
            <section class="conventions info-block">
                <p class="conventions-title">Умовні позначення</p>
                <div class="conventions-wrapper">
                    <div class="conventions-block">
                        <img src="/public/icons/lamp-on.png" alt="lamp" />
                        <p class="conventions-text">- світло є;</p>
                    </div>
                    <div class="conventions-block">
                        <img src="/public/icons/lamp-off.png" alt="lamp" />
                        <p class="conventions-text">- світла немає;</p>
                    </div>
                </div>
            </section>
        </main>
        <%- include('./partials/footer.ejs')%>
    </body>
    <script
        src="https://maps.google.com/maps/api/js?key=AIzaSyBzAYr2leuO6PsxMdXR2EwfYvBXeZDi8pE"></script>
        <script src="../public/scripts/moment.js"></script>
        <script src="../public/scripts/script.js"></script>
</html>
